<html>
<head>
<title>Inventory Maker</title>
<!-- <style>
  h5{
  
      color: red;
  
  }
  
  </style>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %} -->

</head>


<body>

  <h1>These are your inventories:</h1>
  
  <form  method="post">
    {% csrf_token %}
    <table> 
      <tr>
        <th>Name.</th>
        <th>Description.</th>
      </tr>

      {% for ivt in ivts reversed %}
      <tr>
        <td>
        <input type="radio" id="{{ivt.name}}" name="list" value="{{ivt.id}}">
        <label for="{{ivt.name}}"><a href="{% url 'SeeInventory' ivt.name %}">{{ivt.name | title}}</a></label><br>
        </td>
        <td>
          {{ivt.description | title}}
        </td>
      </tr>
      {% endfor %}
    </table> 
  
  <input type="text" placeholder="Enter a name..." name="name">
  <input type="text" placeholder="Enter a description..." name="description"><br><br>
  
  <input type="submit" value="Delete." name="del">
  <input type="submit" value="Create." name="create">
  <input type="submit" value="Modify." name="mod">
  </form>
  
  <a href="{% url 'index'%}">Go back.</a>
  </body> 
</html>