<html>
<head>
<title>Inventory maker web.</title>
<!-- <style>
  h5{
  
      color: red;
  
  }
  
  </style>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %} -->

</head>
<body>

<h1>Inventory {{ivt.name}} has the following items:</h1>



<!-- <ul>
  {% for itm in itms reversed %}
  <li>{{itm.name | title}} <span><a href="{% url 'DeleteItm' ivt.id itm.id %}">Delete</a></span></li>
  {% endfor %}
</ul>  -->

<form  method="post">
  {% csrf_token %}
  <ul>
    {% for itm in itms reversed %}
    <li>
      {{itm.name | title}} <span><a href="{% url 'DeleteItm' ivt.id itm.id %}">Delete</a></span>
      <input type="radio" id="{{itm.name}}" name="list" value="HTML">
      <label for="{{itm.name}}">{{itm.name | title}}</label><br>
    </li>
    {% endfor %}
  </ul> 
  {{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.name.errors }}
<label for="{{ form.name.id_for_label }}">Enter the name for the new item:<br></label>
{{ form.name }}
</div>
<input type="submit" value="Submit">
</form>


<a href="{% url 'data'%}">Go back.</a>
</body> 


</html>