<html>
<head>
<title>Inventory Maker</title>
<!-- <style>
  h5{
  
      color: red;
  
  }
  
  </style>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %} -->

</head>


<body>

  <h1>These are the items in inventory {{ivt.name}}:</h1>
  
  <form  method="post">
    {% csrf_token %}
    <table> 
      <tr>
        <th>Name.</th>
        <th>Quantity.</th>
        <th>Unity.</th>
        <th>Description.</th>
      </tr>

      {% for itm in itms reversed %}
      <tr>
        <td>
        <input type="radio" id="{{itm.name}}" name="list" value="{{itm.id}}">
        <label for="{{itm.name}}">{{itm.name | title}}</label><br>
        </td>
        <td>
          {{itm.quantity}}
        </td>
        <td>
          {{itm.unity}}
        </td>
        <td>
          {{itm.description | title}}
        </td>
      </tr>
      {% endfor %}
    </table> 
  
  <input type="text" placeholder="Enter a name..." name="name">
  <input type="number" step="any" placeholder="Enter a quantity..." name="quantity">
  <input type="text" placeholder="Enter an unity..." name="unity">
  <input type="text" placeholder="Enter a description..." name="description"><br><br>
  
  <input type="submit" value="Delete." name="del">
  <input type="submit" value="Create." name="create">
  <input type="submit" value="Modify." name="mod">
  </form>
  
  <a href="{% url 'data'%}">Go back.</a>
  </body> 
</html>