<html>
<title>Inventory Maker</title>
<h1>Log In.</h1>
<body>
<style>
h3{
    color: red;
}
</style>
{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}



    <form  method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.email.errors }}
<label for="{{ form.email.id_for_label }}">Enter your email:<br></label>
{{ form.email }}
</div>
<div class="fieldWrapper">
{{ form.password1.errors }}
<label for="{{ form.password1.id_for_label }}">Enter your password:<br></label>
{{ form.password1 }}
</div>
        <input type="submit" value="Submit">
    </form>
</body>

</html>